<div class="absolute-wrapper">
  <div class="cloud-container">
    <app-background-clouds></app-background-clouds>
    <app-svg
      fileName="Ralph"
      class="ralph"
      [class.show]="showRalph"></app-svg>
  </div>
</div>

<app-transition-clouds [trigger]="session.state"></app-transition-clouds>

<div class="content-wrapper">
  <h1 [class.in-session]="session.state === sessionState.STARTED">The Ralph Timer</h1>

  <app-shareable-link [settings]="settings"  *ngIf="session.state === sessionState.SETUP"></app-shareable-link>

  <div class="main">

  @switch (session.state) {
    @case (sessionState.SETUP) {
      <div @zoom>
        <div class="settings center">
          <app-settings [(settings)]="settings" (settingsChange)="storeSettings($event)"></app-settings>
          <button class="btn big-btn yellow" (mousedown)="startSession()" style="margin-top: 40px;">Start</button>
        </div>
      </div>
    }
    @case (sessionState.STARTED) {
      <div @zoom>
        <div class="session">
          <div class="center">
            <div class="current-participant" >
              <span *ngFor="let name of [currentParticipant]" [@fadeZoomInOut]="currentParticipant">
                {{currentParticipant}}
              </span>
            </div>
            <app-timer-display
              (isRunningChange)="isRunning = $event"
              (millisecondsChange)="updateMs($event)"
              [isRunningOver]="isAlarm && isRunning"
              #timer></app-timer-display>
          </div>
          <div class="center">
            <div class="timer-controls">
              <button
                class="btn sml-btn"
                (mousedown)="timer.startStopTimer()">
                {{isRunning ? 'Pause' : 'Start'}}
              </button>
              @if(nextParticipant){
                <button
                  class="btn sml-btn"
                  (mousedown)="snooze();">
                  Snooze
                </button>
              }
              <button
                class="btn sml-btn"
                (mousedown)="timer.restartTimer();">
                Restart
              </button>
            </div>

            @if (nextParticipant) {
              <button
              class="btn med-btn yellow"
              (mousedown)="next()">
              Next<span class="symbol">&#x3a;</span>&nbsp;<span class="upper">{{nextParticipant}}</span>
            </button>
            }
            @else {
              <br>
              <button
              class="btn"
              [ngClass]="!useParticipants ? 'big-btn yellow' : 'sml-btn'"
              (mousedown)="addSpeaker()">
              Add Speaker
            </button>
            }
            <br>
            <button
              class="btn"
              [ngClass]="!nextParticipant && useParticipants ? 'big-btn yellow' : 'sml-btn red'"
              (mousedown)="finish()">
              Finish
            </button>


          </div>
        </div>
      </div>
    }
    @case (sessionState.FINISHED) {
      <div  @zoom>
        <div class="results-container">
        <div class="summary center">
          Total session time: <span class="time">{{totalSessionTime | date: 'mm:ss'}}</span>
        </div>
        @for(log of session.timeLog; track log.participant){
          <div class="participant-log" [class.fail]="log.flag">
            <div class="icon">
              @if(log.flag){
                <app-svg [fileName]="'ralph3'">
                </app-svg>
              }
              @else {
                👍
              }
            </div>
            <p class="name upper">{{log.participant}}</p>
            <p class="time">{{log.time | date: 'mm:ss'}}</p>
          </div>
        }
        <div class="center">
          <button class="btn big-btn" (mousedown)="restart()">Restart</button>
        </div>
      </div>
      </div>
    }
  }
</div>

  <!-- <div style="max-width: 75ch; width: 100%; position: relative;">
    <app-tips></app-tips>
  </div> -->
</div>
