<div class="absolute-wrapper">
  <div class="cloud-container">
    <app-background-clouds></app-background-clouds>
    <app-svg
      fileName="Ralph"
      class="ralph"
      [class.show]="showRalph"></app-svg>
  </div>
</div>

<app-transition-clouds [trigger]="session.state"></app-transition-clouds>

<div class="content-wrapper">
  <h1>The Ralph Timer</h1>

  <div class="share-container" *ngIf="session.state === sessionState.SETUP">
    @if (!linkCopied) {
      <button type="button" (click)="share()" class="share-link-btn" alt="Create shareable link to current settings" title="Create shareable link to current settings">
        <span>Copy shareable link</span>&nbsp;
        <app-svg [fileName]="'link'"></app-svg>
      </button>
    }
    @else {
      <p class="link-copied">
        Link copied 👍
      </p>
    }
  </div>
  <div class="main">

  @switch (session.state) {
    @case (sessionState.SETUP) {
      <div @zoom>
        <div class="settings center">
          <app-settings [(settings)]="settings" (settingsChange)="storeSettings($event)"></app-settings>
          <button class="btn big-btn yellow" (click)="startSession()" style="margin-top: 40px;">Start</button>
        </div>
      </div>
    }
    @case (sessionState.STARTED) {
      <div @zoom>
        <div class="session">
          <div class="center">
            <div class="current-participant" >
              <span *ngFor="let name of [currentParticipant]" [@fadeZoomInOut]="currentParticipant">
                {{currentParticipant}}
              </span>
            </div>
            <app-timer-display
              (isRunningChange)="isRunning = $event"
              (millisecondsChange)="updateMs($event)"
              [isRunningOver]="isAlarm && isRunning"
              #timer></app-timer-display>
          </div>
          <div class="center">
            <button
              class="btn sml-btn"
              (click)="timer.startStopTimer()">
              {{isRunning ? 'Pause' : 'Start'}}
            </button>
            @if(nextParticipant){
              <button
                class="btn sml-btn"
                (click)="snooze();">
                Snooze
              </button>
            }
            <button
              class="btn sml-btn"
              (click)="timer.restartTimer();">
              Restart
            </button>

            @if (nextParticipant) {
              <br>
              <button
              class="btn med-btn yellow"
              (click)="next()">
              Next<span class="symbol">&#x3a;</span>&nbsp;<span class="upper">{{nextParticipant}}</span>
            </button>
            }
            @else {
              <br>
              <button
              class="btn med-btn"
              (click)="addSpeaker()">
              Add Speaker
            </button>
            <button
              class="btn med-btn yellow"
              (click)="finish()">
              Finish
            </button>
            }

          </div>
        </div>
      </div>
    }
    @case (sessionState.FINISHED) {
      <div  @zoom>
        <div class="results-container">
        <div class="summary center">
          Total session time: <span class="time">{{totalSessionTime | date: 'mm:ss'}}</span>
        </div>
        @for(log of session.timeLog; track log.participant){
          <div class="participant-log" [class.fail]="log.flag">
            <div class="icon">
              @if(log.flag){
                <app-svg [fileName]="'ralph3'">
                </app-svg>
              }
              @else {
                👍
              }
            </div>
            <p class="name upper">{{log.participant}}</p>
            <p class="time">{{log.time | date: 'mm:ss'}}</p>
          </div>
        }
        <div class="center">
          <button class="btn big-btn" (click)="restart()">Restart</button>
        </div>
      </div>
      </div>
    }
  }
</div>

  <div style="max-width: 75ch; width: 100%; position: relative;">
    <app-tips></app-tips>
  </div>
</div>
