@font-face {
  font-family: Simpsons;
  src: url("../assets/Simpsonfont.otf") format("opentype");
}

$blue: #92d4f7;
$yellow: #f7e892;
$orange: #f76147;
$simpson-yellow: #f7d700;

:root {
  --background-color: #{$blue};
  --cloud-shadow: #{lighten($blue, 17%)};
}

body {
  min-height: 100vmin;
  --bg-transition: 3s;
  --fill-transition: var(--bg-transition);
  background-color: $blue;
  transition: background-color var(--bg-transition);

  &.day {
    --bg-transition: 250ms;
    $bg: $blue;
    background-color: $bg;
    --background-color: #{$bg};
    --cloud-shadow: #{lighten($bg, 17%)};
  }
  &.dusk {
    $bg: $yellow;
    background-color: $bg;
    --background-color: #{$bg};
    --cloud-shadow: #{lighten($bg, 17%)};
  }
  &.dark {
    $bg: $orange;
    background-color: $bg;
    --background-color: #{$bg};
    --cloud-shadow: #{lighten($bg, 17%)};
  }
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
}

.main {
  flex-grow: 1;
  position: relative;
  width: 100%;
  > div {
    width: 100%;
  }
}

.settings{
  margin: auto;
}

h1 {
  font-family: "Simpsons", sans-serif;
  word-spacing: 0.5rem;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.5rem, 3vw + 1rem, 4rem);
  text-align: center;
  color: $simpson-yellow;
  text-shadow: -3px 3px black;
  -webkit-text-stroke: 1px black;
  z-index: -1;
}
.summary {
  font-family: "Simpsons", sans-serif;
  word-spacing: 0.5rem;
  font-size: clamp(1rem, 1.5vw + 1rem, 3rem);

  font-weight: 400;
}
.current-participant {
  font-family: "Simpsons", sans-serif;
  word-spacing: 0.5rem;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 1.5vw + 1rem, 4rem);
  text-align: center;
  text-transform: uppercase;
  height: 1em;
  width: 100%;
  color: black;
  // text-shadow: -3px 3px black;
  // -webkit-text-stroke: 1px black;
  span {
    display: inline-block;
    width: 100%;
    overflow: visible;
    text-wrap: nowrap;
    white-space: nowrap;
    text-align: center;
  }
}

.absolute-wrapper {
  overflow: hidden;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.cloud-container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: visible;
  contain: style;
}

.btn {
  position: relative;
  touch-action: manipulation;
  font-family: "Simpsons", sans-serif;
  word-spacing: 0.5rem;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.5rem, 1vw + 1rem, 5rem);
  text-align: center;
  color: #ffffff;
  text-shadow: -3px 3px black;
  -webkit-text-stroke: 1px black;
  background-color: transparent;
  border: 4px solid white;
  box-shadow: -3px 3px black;
  border-radius: 0.5em;
  padding: 0px 15px 10px;
  transition: transform 100ms;
  position: relative;
  margin: 15px;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 10ms;
  }
  span.symbol {
    font-family: cursive;
  }
  &.yellow {
    color: $simpson-yellow;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.5em;
    background-color: var(--background-color);
    opacity: 0.5;
    z-index: -1;
    transition: background-color var(--bg-transition);
  }
}

.big-btn {
  font-size: clamp(2em, 2vw + 1rem, 7rem);
}
.med-btn {
  font-size: clamp(1.5rem, 1vw + 1rem, 5rem);
}
.sml-btn {
  font-size: clamp(1rem, 0.8vw + 1rem, 3rem);
  text-shadow: -2px 2px black;
}

.center {
  text-align: center;
}

.ralph {
  z-index: 4;
  display: block;
  position: absolute;
  width: clamp(30vh, 100vw, 50vh);
  bottom: 0px;
  transform: rotate(15deg) translate(-100%, 30%);
  transition: transform 250ms;
  &.show {
    transition: transform 30s;
    transform: rotate(25deg) translate(-15%, 30%);
  }
}

.upper {
  text-transform: uppercase;
}
.time {
  font-family: monospace;
}

.results-container {
  margin: 0 auto;
  width: clamp(150px, 80vw, 600px);

  .participant-log {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    pad: 15px;
    font-size: clamp(1rem, 1vw + 1rem, 2rem);
    line-height: 2em;

    .icon {
      width: 40px;
      margin-right: 15px;
      align-self: center;
      line-height: 1em;
    }
    .name {
      font-family: "Simpsons", sans-serif;
      word-spacing: 0.5rem;
      font-weight: 400;
      flex-grow: 1;
    }

    &.fail .time {
      color: $orange;
    }
  }
}



.session,
.results-container,
.settings {
  transform-origin: top center;
}


