$font-size: clamp(1rem, 0.5vw + 0.8rem, 2rem);
$height: calc(clamp(1rem, 0.5vw + 0.8rem, 2rem) * 1.5);

:host {
  padding: 0.4em;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.share-link-btn {
  font-family: sans-serif;
  height: $height;
  font-size: $font-size;
  background: none;
  border: none;
  color: currentColor;
  filter: drop-shadow(-2px 2px black);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }

  @media (max-width: 600px) {
    span {
      opacity: 0;
    }
    &:hover span {
      opacity: 1;
    }
  }
}

app-svg {
  display: inline-block;
  // ::ng-deep {
  //   svg {
  //     fill: currentColor;
  //     height: $font-size;
  //     width: $font-size;
  //   }
  // }
}

.link-copied {
  font-family: sans-serif;
  height: $height;
  font-size: $font-size;
  height: 100%;
  color: currentColor;
  margin: 0;
  filter: drop-shadow(-2px 2px black);
}
