:host {
  display: inline-block;
  vertical-align: text-top;
}

.checkbox-wrapper {
  display: inline;
}

.checkbox-wrapper *,
.checkbox-wrapper *:after,
.checkbox-wrapper *:before {
  box-sizing: border-box;
}

.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper input:checked + label svg path {
  stroke-dashoffset: 0;
}

.checkbox-wrapper input:focus + label {
  transform: scale(1.03);
}

.checkbox-wrapper input + label {
  display: block;
  border: 2px solid #333;
  width: var(--size);
  height: var(--size);
  border-radius: 6px;
  cursor: pointer;
  transition: all .2s ease;
}

.checkbox-wrapper input + label:active {
  transform: scale(1.05);
  border-radius: 12px;
}

.checkbox-wrapper input + label svg {
  pointer-events: none;
  padding: 5%;
}

.checkbox-wrapper input + label svg path {
  fill: none;
  stroke: #333;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 250ms cubic-bezier(1,0,.37,.91);
}
